.idea/*
.idea
config/config.json
src/config/config.json
src/output/yt-dlp
src/output/downloads/*
src/output/*.log
src/frontend/src/config/config.json
src/backend/src/config/config.json
src/tests/results/*
