.app-icon{
    padding-inline: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-table-class > thead > tr > th > .gridjs-sort {
    background-color: white;
    border-radius: 0.5rem;
}